/* Hacer el header tomar toda la anchura y posicionarlo encima del carousel */
header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* Estilos para el nav */
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 0;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

header ul li {
    margin: 10px;
}

/* Otros estilos existentes */
img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el contenido */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
}

.caja {
    width: 300px;
    padding: 10px;
    text-align: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0;
}

#nosotros iframe {
    width: 100%;
}

/* Estilos para los enlaces */
a:link, a:hover {
    color: beige;
    text-decoration: none;
}

a:hover {
    color: brown;
}

/* Estilos para pantallas más pequeñas (por ejemplo, dispositivos móviles) */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }

    header ul {
        flex-direction: column;
        align-items: center;
    }

    header ul li {
        margin: 5px 0;
    }

    .contenedor, .links {
        flex-direction: column;
        align-items: center;
    }

    .caja {
        width: 90%;
        margin-bottom: 20px;
    }
}
